@import "styles/utils";

.comment-editer{

  width:1024px;
  margin: 0 auto;
  margin-bottom: 0rem;
  margin-top: 1.25rem;
  height: 100px;
  transform: translateY(-3rem);
  @include material-shadow(2, 0.7);
  @include media("<large"){ width: 768px; }
  @include media("<medium"){ width: calc(100% - 2rem); }
  // padding-top: 1.25rem;
  // padding-bottom: 1.25rem;
  // padding-left: 2rem;
  // padding-right: 2rem;
  // background: $oc-blue-6;
  flex-direction: row;
  display: flex;
  background: white;
  .textarea-box{
    width:calc(100% - 100px);
    .username{
      font-size: .75rem;
      font-weight: 400;
      padding-left: 1.75rem;
      padding-top: .75rem;
    }
    textarea{
      display: inline;
      resize: none;
      border: none;
      outline: none;
      height: 55px;
      width: 100%;
      @include media("<large"){ width: 768px; }
      @include media("<medium"){ width: calc(100% - 2rem); }
      // padding: 0;
      margin: 0;
      margin-top: .25rem;
      padding-left: 1.75rem;
      padding-top: .05rem;
      padding-bottom: .75rem;
      font-weight: 300;
      font-size: 1rem;
    }
  }
  .button{
    font-size: 1rem;
    font-weight: 500;
    width:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0 !important;

  }
}
