@import 'styles/utils';

.vote{
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-top: 1px solid  $oc-gray-3;
  border-bottom: 1px solid $oc-gray-3;
  .title{
    font-weight: 500;
    margin-bottom: .5rem;
  }
  .vote-index{
    .vote-item{
      display: flex;
      flex-direction: row;
      align-items: center;
      input{
        margin-left: 1.25rem;
      }
      .vote-item-stick{
        margin-left: .5rem;
        background: $main-color;
        height: 20px;
        width:100px;
      }
      .vote-item-result{
        margin-left: .5rem;
      }
    }
  }
  .vote-submit{
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    color:white;
    background: $main-color;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-weight: 500;
    padding-bottom: .25rem;
    &:hover{
      background: $hover-color;
    }
  }
}
