@import 'styles/utils';

.question {
  background : white;
  padding : 2rem;
  padding-top: 1.5rem !important;

  width:320px !important;
  .title {
    font-size: 1rem;
    font-weight: 500;
  }
  .description {
    margin-top: .25rem;
  }
}
.options{
  padding: 1rem;
  background: $oc-gray-1;
  text-align: right;

}
