@import "styles/utils";

.editor-header{

  background: white;
  z-index: 100;
  // border-bottom: 2px solid black;
  @include material-shadow(2, 0.5);

  height: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;

  .submit{
    margin-left: auto;
  }
}
