@import "styles/utils";

.button{
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-weight: 600;
  font-size: .9rem;
  color: white;
  cursor: pointer;
  user-select: none;
  display: inline-flex;

  &.default{
    background: $main-color;
    &:hover{
      background: $hover-color;
    }
    &:active{
      background: $main-color;
    }
  }
  &.red{
    background: $oc-red-7;
    &:hover{
      background:$oc-red-6;
    }
    &:active{
      background: $oc-red-8;
    }
  }

  &.gray{
    background: $main-color;
    &:hover{
      background: $hover-color;
    }
    &:active{
      background: $main-color;
    }
  }

  &.outline{
    border: 2px solid white;
    border-radius: 2px;
    &:hover{
      background: white;
      color:$hover-color;
      transition: color 0.2s ease 0s,background 0.2s ease 0s;
    }
    &:active{
      background: rgba(255, 255, 255, 0.85);
      border: 2px solid rgba(255, 255, 255, 0.85);
    }
  }
  &:hover{

  }
  &.disabled{
    background: $oc-gray-4;
    color:$oc-gray-6;
    cursor: default;
    &:hover, &:active{
      box-shadow: none;
      background: $oc-gray-4;
    }
  }

  & + & {
    margin-left: .5rem;
  }
}
