@import "styles/utils";

.button{
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-weight: 600;
  font-size: .9rem;
  color: white;
  cursor: pointer;
  user-select: none;
  display: inline-flex;
  &.none{
    background: none;
    &:hover{
      background: none;
    }
    &:active{
      background: none;
    }
  }
  &.default{
    background: $main-color;
    &:hover{
      background: $hover-color;
    }
    &:active{
      color: $active-color;
    }
  }
  &.red{
    background: $oc-red-7;
    &:hover{
      background:$oc-red-6;
    }
    &:active{
      background: $oc-red-8;
    }
  }

  &.gray{
    background: $main-color;
    &:hover{
      background: $hover-color;
    }
    &:active{
      background: $main-color;
    }
  }

  &.outline{
    border: 0px solid black;
    border-radius: 2px;
    font-weight: 500;
    color: black;
    &:hover{
      color:$main-color;
      // font-weight: 600;
      transition: color 0.2s ease 0s, font-weight 0.2s ease 0s;

    }
    &:active{
      color: $main-color;

    }
  }
  &:hover{

  }
  &.disabled{
    background: $oc-gray-4;
    color:$oc-gray-6;
    cursor: default;
    &:hover, &:active{
      box-shadow: none;
      background: $oc-gray-4;
    }
  }

  & + & {
    margin-left: .5rem;
  }
}
