@import "styles/utils";

.editor-pane{
  flex:1;
  display: flex;
  flex-direction: column;
  .title-box{
    display: flex;
    flex-direction: row;
    // align-items: center;
    .dropdown {

      min-width: 110px;
      // border-right: 2px solid $oc-gray-9;
      // display: inline-block;

      height: 100%;
      .drop-btn {
        min-width: 110px;
        height: 100%;
        background-color: $oc-blue-6;
        color: white;
        padding: 16px;
        font-size: 1.1rem;
        font-weight: 500;
        border: none;
      }
      &:hover{
        .dropdown-content {display: block;}
        .drop-btn {background-color: $oc-blue-7}
      }

      .dropdown-content {
        display: none;
        position: absolute;
        z-index: 100;
        background-color: #f1f1f1;

        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        .dropdown-content-index {
          color: black;
          // padding: 12px 16px;

          display: flex !important;
          flex-direction: row !important;
          .dropdown-content-box{
            min-width: 160px;
            padding: 12px 16px;
          }
          .dropdown-content-down{

            display: none;
            .dropdown-content-right{
              &.hover{
                background-color: $oc-gray-2;
              }
            }
          }
          display: block;
          &:hover{
            // background-color: #ddd;
            .dropdown-content-down{
              box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
              // background-color: #f1f1f1;
              position: absolute;
              padding: 12px 16px;

              display: flex;
              flex-direction: column;
              min-width: 160px;
              left: 160px;


            }
          }

        }

      }


    }
    .title{
      background: $oc-gray-8;
      border: none;
      outline: none;
      font-size: 1.5rem;
      padding: 1rem;
      color: white;
      font-weight: 500;
      flex: 1;
      &::placeholder{
        color: rgba(255, 255, 255, 0.75);
      }
    }
  }

  .code-editor{
    z-index: 0;
    flex:1;
    background: $oc-gray-5;
    display: flex;
    flex-direction: column;

    :global .CodeMirror{
      height: none !important;
      font-size: 1rem;
      flex:1!important;
      font-family: 'D2 Coding'
    }
    .CodeMirror{
      height: none !important;
      font-size: 1rem;
      flex:1!important;
    }
  }
  .option-box{
    display: flex;
    flex-direction: row;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: $oc-gray-8;

    .comment-able {
      min-width: 100px;
      // border-right: 2px solid $oc-gray-9;
      margin-left: 0;
      // border-bottom: 2px solid $oc-gray-9;
      height: 100%;
      background-color: none;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-left: 1rem;
      color:white;
      label{
        display: flex;
        flex-direction: row;
        align-items: center;
        color:white;
        span{
          margin-right: 1rem;
        }
      }


    }
  }
  .tags{
    padding-left: 1rem;
    padding-right: 1rem;
    height: 2rem;
    background: $oc-gray-7;
    display: flex;
    align-items: center;
    .description{
      font-size: 0.85rem;
      color:white;
      font-weight: 600;
      margin-right: 1rem;
    }
    input{
      font-size: 0.85rem;
      border: none;
      flex:1;
      background: none;
      outline: none;
      font-weight: 600;
      color:rgba(255, 255, 255, .9);
      &::placeholder{
        color:rgba(255, 255, 255, .75);
      }
    }
  }
}
.react-toggle {
  touch-action: pan-x;

  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: #4D4D4D;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #000000;
}

.react-toggle--checked .react-toggle-track {
  background-color: $oc-blue-6;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: $oc-blue-7;
}

.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid #4D4D4D;
  border-radius: 50%;
  background-color: #FAFAFA;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: #19AB27;
}

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px #0099E0;
  -moz-box-shadow: 0px 0px 3px 2px #0099E0;
  box-shadow: 0px 0px 2px 3px #0099E0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 5px 5px #0099E0;
  -moz-box-shadow: 0px 0px 5px 5px #0099E0;
  box-shadow: 0px 0px 5px 5px #0099E0;
}
