@import "styles/utils";

.editor-pane{
  flex:1;
  display: flex;
  flex-direction: column;
  .title-box{
    display: flex;
    flex-direction: column;
    // align-items: center;
    .option-box{
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
      background-color: $oc-gray-7;
      border-bottom: 2px solid $oc-gray-9;
      .dropdown {
        border-right: 2px solid $oc-gray-9;
        // display: inline-block;
        height: 100%;
        .drop-btn {
          height: 100%;
          background-color: $oc-gray-7;
          color: white;
          padding: 16px;
          font-size: 16px;
          border: none;
        }
        &:hover{
          .dropdown-content {display: block;}
          .drop-btn {background-color: $oc-gray-9}
        }

        .dropdown-content {
          display: none;
          position: absolute;
          z-index: 100;
          background-color: #f1f1f1;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
          a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            &:hover{
              background-color: #ddd;
            }
          }
        }
      }
      .comment-able {
        border-right: 2px solid $oc-gray-9;
        margin-left: 0;
        // border-bottom: 2px solid $oc-gray-9;
        height: 100%;
        background-color: $oc-gray-7;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 1rem;
        color:white;
        &:checked{
          background-color: black;
        }
        input{
        	width: 40px;
        	height: 40px;
        	border: 2px solid #bcbcbc;
        	cursor: pointer;
          &:checked{
            background-color: black;
          }
        }
        input[checkbox]{
          margin: 0;

        }

      }

    }
    .title{
      background: $oc-gray-7;
      border: none;
      outline: none;
      font-size: 1.5rem;
      padding: 1rem;
      color: white;
      font-weight: 500;
      flex: 1;
      &::placeholder{
        color: rgba(255, 255, 255, 0.75);
      }
    }
  }

  .code-editor{
    z-index: 0;
    flex:1;
    background: $oc-gray-9;
    display: flex;
    flex-direction: column;
    :global .CodeMirror{
      font-size: 1rem;
      flex:1;
      font-family: 'D2 Coding'
    }
  }
  .tags{
    padding-left: 1rem;
    padding-right: 1rem;
    height: 2rem;
    background: $oc-gray-7;
    display: flex;
    align-items: center;
    .description{
      font-size: 0.85rem;
      color:white;
      font-weight: 600;
      margin-right: 1rem;
    }
    input{
      font-size: 0.85rem;
      border: none;
      flex:1;
      background: none;
      outline: none;
      font-weight: 600;
      color:rgba(255, 255, 255, .9);
      &::placeholder{
        color:rgba(255, 255, 255, .75);
      }
    }
  }
}
