@import 'styles/utils';

.form-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('../../bg/bg.png') center center;
  background-size: cover;
  height: calc(100vh - 4rem) !important;
  .form{
    background: white;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    padding-top: 2.5rem;
    width:100vw;
    min-width: 20rem !important;
    @include media("<medium") {
      width: 100vw!important;
      // padding: 0rem!important;
    }
    @include media(">medium") {
      min-width: 24rem !important;
      // padding: 0rem!important;
    }

    @include material-shadow(2, 0.5);
    .title{
      font-size: 1.25rem;
      font-weight: 500;
      text-align: center;
      margin-bottom: 2rem;
    }
    .description{
      font-size: .75rem;
      margin-top:  .25rem;
    }
    .password{
      margin-top: 1.5rem;
    }
    .error{
      margin-top: .5rem;
      margin-bottom: .5rem;
      color:$oc-red-6;
      text-align: center;
      font-size: .85rem;
    }
    input{
      width: 100%;
      font-size: 1rem;
      padding-top: .5rem;
      padding-bottom: .5rem;
      // height: 3rem;
      padding-left: 1rem;
      margin-top: .5rem;
      border: none ;
      border-bottom: 1px solid lightgray !important;
      outline: none;
      box-shadow: none;
    }

    .login{
      background: $main-color;
      text-align: center;
      color: white;
      font-weight: 500;
      margin-top: 5rem;
      padding-top: .5rem;
      padding-bottom: .5rem;
      cursor: pointer;
      font-size: 1.25rem;
      &:hover{
        background: $hover-color;
      }
      &:active{
        background: $main-color;
      }

    }
    .register{
      text-align: center;
      font-size: .85rem;
      margin-top: 1rem;
      background: none;
      a{
        color: $main-color;
      }
    }
    .login-btn{
      margin-top: 1.5rem;
    }
  }

}
